.list-room-main{
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    padding: 12px 20px;
    height: 100%;
}

.list-room-main .title{
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.list-room-main .title::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #999;
    bottom: 0;
    position: absolute;
}

.list-room-main .title figure{
    height: 24px;
}

.list-room-main .title figure img{
    height: 100%;
}

.list-room-main .title h2{
    font-weight: bold;
    flex-grow: 1;
}

.list-room-main .title .add-new-con{
    transition: transform ease-in-out 0.25s;
    cursor: pointer;
}

.list-room-main .title .add-new-con:hover{
    transform: rotate(180deg);
}

.list-room-main fieldset{
    height: 35px;
    position: relative;
    margin-bottom: 10px;
}

.list-room-main fieldset input{
    height: 100%;
    padding: 0 32px;
    font-size: 14px;
    width: 100%;
    border-radius: 25px;
}

.list-room-main fieldset input::placeholder{
    font-style: italic;
}

.list-room-main fieldset .s-icon{
    height: 24px;
    position: absolute;
    left: 5px;
    top: 5px
}

.list-room-main fieldset .c-icon{
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.list-room-main ul{
    height: calc(100% - 88px);
    overflow: auto;
}

.list-room-main ul::-webkit-scrollbar{
    width: 3px;
}

.list-room-main ul li{
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    height: 64px;
    align-items: center;
    padding: 0 12px;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: background-color ease-in-out 0.25s;
    overflow: hidden;
}

.list-room-main ul li:hover{
    background-color: #c0c0c0;
}

.list-room-main ul li .ava{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.list-room-main ul li .ava img{
    height: 100%;
    width: auto;
}

.list-room-main ul li .box-ava{
    position: relative;
}

.list-room-main ul li span{
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    background-color: #008000;
}

.list-room-main ul li .name{
    font-weight: bold;
    white-space: nowrap;
}

.list-room-main ul li .mess{
    font-size: 12px;
    white-space: nowrap;
}

.list-room-main ul li .con{
    height: 24px;
    position: absolute;
    right: 15px;
    top: calc(50% - 12px);
}

.list-room-main ul li .con img{
    height: 100%;
    width: auto;
}

.list-room-main ul .noti-non{
    font-style: italic;
    color: #999;
    padding: 0 10px;
    margin-top: 30px;
    text-align: center;
}