.timeline{
    height: 70px;
    width: 100%;
    border: rgba(201, 201, 201, 0.7) solid 1px;
    border-radius: 10px;
    padding: 3px 8px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.timeline .grid{
    display: flex;
    width: 512px;
    justify-content: space-between;
    margin: 0 auto;
}

.timeline .grid p{
    font-weight: bold;
    color: rgba(201, 201, 201, 0.7);
    font-size: 9px;
    width: 1px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.timeline .grid p.center{
    color: black;
}

.timeline .grid p::after{
    content: "";
    height: 48px;
    border-left: rgba(201, 201, 201, 0.7) dashed 1px;
}

.timeline .grid p.center::after{
    border-color: red;
}

.timeline .value{
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 512px;
    margin-left: 96px;
}

.timeline .value ul{
    position: relative;
}

.timeline .value li{
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    padding: 0 5px;
    position: absolute;
    overflow: hidden;
    height: 24px;
}

.timeline .value li:hover{
    outline: #d9d9d9 solid 2px;
}

.timeline .value li p{
    color: white;
    font-size: 10px;
    white-space: nowrap;
}

.timeline .value li figure{
    height: 16px;
    min-width: 16px;
}

.timeline .value li figure img{
    height: 100%;
}

.timeline .value li figure.delete{
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 8px;
    display: none;
    cursor: pointer;
}

.timeline .edit{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}