.chatpage{
    height: calc(100vh - 70px);
    background-image: url('../../image/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.chatpage .list-room{
    height: 100%;
    width: 310px;
    min-width: 310px;
}

.chatpage .chat-box{
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

@media screen and (max-width: 1024px){
    .chatpage .list-room {
        min-width: 270px
    }
}

@media screen and (max-width: 430px){
    .chat-box.hide,
    .list-room.hide{
        display: none;
    }
    
    .chat-box.show,
    .list-room.show{
        display: block;
    }

    .chatpage{
        padding: 10px;
    }

    .chatpage .list-room{
        width: 100%;
    }
}