.timetable{
    height: 100%;
    background-image: url('../../image/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable > div {
    display: flex;
    padding: 18px;
    flex-flow: column;
    height: calc(100vh - 70px);
}

.timetable .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
}

.timetable .title h2{
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.timetable .title .change-mode{
    position: absolute;
    left: 0;
    background-color: rgba(217, 217, 217, 0.8);
    display: flex;
    height: 36px;
    width: 96px;
    border-radius: 36px;
    overflow: hidden;
    cursor: pointer;
}

.timetable .title .change-mode figure{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 0.25s;
}

.timetable .title .change-mode figure img{
    height: 20px;
}

.timetable .calendar{
    width: 100%;
    flex-grow: 1;
}

.timetable .timeline-main{
    width: calc(100vw - 36px);
}

@media screen and (max-width: 1024px){
    .timetable > div{
        width: 768px;
        margin-top: 20px;
        height: auto;
    }

    .timetable .timeline-main {
        height: auto;
    }
}

@media screen and (max-width: 430px){
    .timetable > div{
        width: 360px;
        padding: 18px 5px;
    }

    .timetable .calendar{
        height: auto;
    }

    .timetable .title{
        margin-bottom: 50px;
    }

    .timetable .title .change-mode{
        top: 46px;
    }
}