header{
    position: relative;
}

header.main{
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #16C0E8;
    color: white;
}

header.main .logo{
    width: 65px;
    height: auto;
}

header.main nav{
    max-width: 1024px;
}

header.main nav .menu{
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    height: 40px;
    padding: 0 10px;
    border: rgba(255,255,255,0.30) solid 1px;
    border-radius: 8px;
    transition: background-color ease-in-out 0.25s;
    display: none;
    position: relative;
}

header.main nav ul{
    display: flex;
    gap: 20px;
}

header.main nav ul a{
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    height: 40px;
    padding: 0 10px;
    border: rgba(255,255,255,0.30) solid 1px;
    border-radius: 8px;
    transition: background-color ease-in-out 0.25s;
}

header.main nav .menu:hover,
header.main nav ul a:hover{
    background-color: rgba(217,217,217,0.3);
}

header.main nav ul li.active a{
    border: none;
    background-color: rgba(217,217,217,0.3);
}

header.main .noti_ava{
    display: flex;
    gap: 24px;
    align-items: center;
}

header.main .noti_ava .noti{
    cursor: pointer;
}

header.main .noti_ava .ava{
    height: 58px;
    width: 58px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

header.main .noti_ava .ava img{
    height: 100%;
    width: auto;
}

.ava-box {
    position: absolute;
    top: 92px;
    right: 12px;
    width: 252px;
    border-radius: 8px;
    border: rgba(201,201,201,0.7) solid 1px;
    background-color: white;
    padding: 12px;
    display: flex;
    flex-flow: column;
    z-index: 1000;
    background-color: white;
}

.ava-box .my-infor{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #d9d9d9;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.ava-box .my-infor .main{
    display: flex;
    gap: 5px;
    align-items: center;
}

.my-infor .main figure{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

.my-infor .main figure img{
    height: 100%;
    width: auto;
}

.my-infor .main p{
    font-weight: bold;
    color: black;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-infor .edit{
    position: absolute;
    top: 5px;
    right: 5px;
}

.my-infor::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
    margin: 10px 0px;
}

.ava-box ul li{
    height: 50px;
    padding: 0 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color ease-in-out 0.25s;
}

.ava-box ul li:hover{
    background-color: #d9d9d9;;
}

@media screen and (max-width : 1024px){
    header.main nav .menu{
        display: flex;
    }

    header.main nav{
        display: flex;
        align-items: center;
        max-width: calc(100% - 195px);
        overflow: auto;
    }

    header.main nav::-webkit-scrollbar{
        height: 4px;
    }

    header.main nav ul{
        background-color: #16C0E8;
        display: none;
        padding: 10px;
        border-radius: 8px;
        top: 75px;
        left: 0;
        min-width: 800px;
    }

    header.main nav:hover .menu{
        display: none;
    }

    header.main nav:hover .menu ~ul{
        display: flex;
    }
}

@media screen and (max-width : 380px){
    header.main{
        padding: 0 10px;
    }

    header.main .logo{
        height: 50px;
        width: 50px;
    }

    header.main .noti_ava .ava{
        height: 50px;
        width: 50px;
    }

    header.main .noti_ava .noti{
        height: 30px;
        width: 30px;
    }
}