.calendarmain{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.calendarmain .calendarCpn{
    height: 100%;
    width: 610px;
    border-radius: 8px;
    border: #d9d9d9 solid 1px;
    overflow: hidden;
    padding: 0 5px;
    background-color: white;
}

.calendarmain .calendarCpn thead th{
    font-weight: bold;
    position: relative;
    z-index: 0;
}

.calendarmain .calendarCpn thead th:first-child{
    color: white;
}

.calendarmain .calendarCpn thead th:first-child::after{
    background-color: rgb(220, 59, 59);
}

.calendarmain .calendarCpn thead th::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 90%;
    top: 0;
    background-color: #d9d9d9;
    right: 0;
    z-index: -1;
    border-radius: 3px;
}

.calendarmain .calendarCpn .ant-picker-calendar{
    overflow: hidden !important;  
}

.calendarmain .calendarCpn .ant-picker-cell-inner{
    height: 58px;
}

.calendarmain .calendarCpn .events{
    overflow: auto;
    max-height: 26px;
}

.calendarmain .calendarCpn .events::-webkit-scrollbar {
    width: 2px;
}

.calendarmain .calendarCpn .events li{
    display: flex;
    font-size: 9px;
    gap: 2px;
    border-radius: 3px;
    padding: 0 1px;
    font-weight: bold;
    margin-bottom: 2px;
}

.calendarmain .calendarCpn .events figure{
    height: 11px;
}

.calendarmain .calendarCpn .events figure img{
    height: 100%;
}

.calendarmain .todolist{
    height: 100%;
    width: 362px;
    border-radius: 8px;
    padding: 20px 10px;
    border: #d9d9d9 solid 1px;
    position: relative;
    background-color: white;
}

.calendarmain .todolist .todo-title{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.calendarmain .todolist .todo-title::after{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #d9d9d9;
}

.calendarmain .todolist .todo-title h3{
    font-weight: bold;
}

.calendarmain .todo-list{
    height: 290px;
    overflow-y: auto;
}

.calendarmain .todo-list li{
    height: 60px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.calendarmain .todo-list li .datenum{
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 25px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.calendarmain .todo-list li .li-top{
    display: flex;
    align-items: center;
    gap: 10px;
}

.calendarmain .todo-list li .task-type{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 10px;
    font-weight: bold;
    padding: 0 5px;
    height: 18px;
}

.calendarmain .task-type figure{
    height: 16px;
}

.calendarmain .task-type figure img{
    height: 100%;
}

.calendarmain .todo-list li{
    position: relative;
}

.calendarmain .todo-list li .task-type p{
    margin-bottom: -3px;
}

.calendarmain .todo-list li .time{
    font-style: italic;
    font-size: 10px;
}

.calendarmain .todo-list li .content{
    font-weight: bold;
}

.calendarmain .todo-list li .removeTask{
    position: absolute;
    right: 10px;
    top: 18px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 6px;
    display: none;
    cursor: pointer;
}

.calendarmain .todo-list li:hover .removeTask{
    display: block;
}

.calendarmain .todo-list li .removeTask img{
    height: 100%;
}

.calendarmain .addTask{
    height: 70px;
    background-color: #d9d9d9;
    border-radius: 8px;
    width: 100%;
    padding: 5px 10px;
    overflow: hidden;
}

.calendarmain .addTask .li-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 5px;
}

.calendarmain .addTask .li-top .ant-select{
    height: 24px;
    width: 104px;
}

.calendarmain .addTask .ant-select .task-type{
    display: flex;
    align-items: center;
}

.calendarmain .addTask .ant-select .task-type p{
    font-size: 10px;
}

.calendarmain .addTask .ant-picker{
    height: 24px;
    width: 110px;
    margin-right: 5px;
}

.calendarmain .addTask .ant-picker input{
    font-size: 12px;
}

.calendarmain .addTask .ant-picker:first-child{
    width: 90px;
}

.calendarmain .addTask .li-bot{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.calendarmain .addTask .addContent{
    border-radius: 6px;
    padding: 0 10px;
    width: 266px;
}

.calendarmain .addTask .addContent::placeholder{
    font-size: 12px;
    font-style: italic;
}

.calendarmain .addTask .addBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: #16c0e8 solid 2px;
    border-radius: 6px;
    width: 24px;
    background-color: white;
    cursor: pointer;
    transition: background-color ease-in-out 0.25s;
}

.calendarmain .addTask .addBtn:hover{
    background-color: #92d7e7;
}

.calendarmain .addTask .addBtn:last-child{
    border: red solid 2px;
}

.calendarmain .addTask .addBtn:last-child:hover{
    background-color: rgb(235, 132, 132);
}

.calendarmain .addTask .addBtn figure{
    height: 16px;
}

.calendarmain .addTask .addBtn figure img{
    height: 100%;
}

.calendarmain .todolist .openBtn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform ease-in-out 0.25s;
    cursor: pointer;
}

.calendarmain .todolist .openBtn:hover{
    transform: rotate(360deg);
}

@media screen and (max-width: 1024px){
    .calendarmain{
        gap: 5px
    }

    .calendarmain .addTask{
        position: absolute;
        width: 340px;
        right: 10px;
        z-index: 2;
    }
}