header.pre ul li a::after{
    content: "";
    height: 2px;
    width: 0%;
    background-color: rgb(22,192,232);
    display: block;
    transition: width ease-in-out 0.25s;
}

header.pre ul li:hover a::after{
    width: 100%;
}

header.pre .login-btn{
    transition: background-color ease-in-out 0.25s;
}

header.pre .login-btn:hover{
    background-color: rgb(22,192,232);
}

@media screen and (max-width: 1024px){
    header.pre nav{
        padding: 0 20px;
    }
}

@media screen and (max-width: 430px){
    header.pre{
        justify-content: space-between;
        padding: 0 5px;
    }

    header.pre nav{
        display: none;
    }
}