@keyframes scroll-down{
    from {
        bottom: 8px;
    }
    to {
        bottom: 16px;
    }
}

main .scroll-down{
    animation-name: scroll-down;
    animation-iteration-count: infinite;
    animation-duration: 0.25s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
}

@media screen and (max-width: 430px) {
    .main-wc{
        height: auto;
    }

    .main-wc .top-wc{
        flex-flow: column;
        margin-top: 80px;
    } 

    .main-wc .top-wc .text-wc{
        width: 100%;
    }

    .main-chat-wc{
        width: 100%;
    }

    main .scroll-down{
        display: none;
    }

    #infor{
        padding: 10px;
    }

    #infor .content{
        padding: 20px 10px;
    }

    #infor .content::-webkit-scrollbar{
        width: 3px;
    }

    #infor .content .flex{
        flex-flow: column;
    }
}


