.diarypage{
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    background-size: cover;
}

.diarypage .inner{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.diarypage .title{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 22px;
    width: 100%;
}

.diarypage .title p{
    max-width: 578px;
    text-align: center;
    font-style: italic;
    color: white;
}

.diarypage .listDiary{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diarypage .listDiary .main{
    height: 464px;
}

.diarypage .listDiary .sub{
    height: 278px;
    width: 258px;
    position: relative;
}

.diarypage .listDiary .sub .dailybox::after{
    content: "";
    width: 258px;
    height: 278px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    border-radius: 10px;
}

.diarypage .listDiary > figure{
    margin: 0 20px;
    width: 56px;
    cursor: pointer;
}

.diarypage .see-chart{
    position: absolute;
    bottom: 20px;
    left: calc(50vw - 90px);
    width: 180px;
    padding: 5px 15px;
    border: white solid 1px;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color ease-in-out 0.25s;
}
.diarypage .see-chart:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.diarypage .sub-box{
    position: absolute;
    width: 1024px;
    height: 540px;
    top: calc(50vh - 270px);
    left: calc(50vw - 512px);
}

.diarypage .add-diary{
    height: 80px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: transform ease-in-out 0.25s;
    cursor: pointer;
}

.diarypage .add-diary:hover{
    transform: rotate(180deg);
}

.diarypage .add-diary img{
    height: 100%;
    width: auto;
}

.diarypage .add-diary-box{
    position: absolute;
    height: 250px;
    width: 230px;
    right: 30px;
    bottom: 130px;
    background-color: white;
    border-radius: 8px;
    border: rgba(201,201,201,0.7) solid 1px;
}

.diarypage .add-diary-box .header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    height: 36px;
    margin-bottom: 5px;
}

.diarypage .add-diary-box h3{
    font-weight: bold;
}

.diarypage .add-diary-box .header::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(201, 201, 201, 0.7);
    bottom: 0;
}

.diarypage .add-diary-box .pick-emoji,
.diarypage .add-diary-box .pick-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    gap: 5px;
}

.diarypage .add-diary-box .pick-emoji p,
.diarypage .add-diary-box .pick-date p{
    font-size: 14px;
}

.diarypage .pick-emoji .e-val{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.diarypage .pick-emoji figure{
    height: 22px;
}

.diarypage .pick-emoji figure img{
    height: 100%;
}

.diarypage .add-diary-box textarea{
    background-color: #d9d9d9;
    border-radius: 6px;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 10px;
    resize: none;
    height: 85px;
}

.diarypage .add-diary-box .save-btn{
    display: flex;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: #16c0e8 solid 2px;
    margin-left: calc(100% - 80px);
    cursor: pointer;
}

.diarypage .add-diary-box .save-btn:hover{
    background-color: #e7f9fc;
}


.diarypage .add-diary-box .save-btn p{
    font-size: 12px;
    font-weight: bold;
    color: #16c0e8;
}

@media screen and (max-width: 1024px) {
    .diarypage .listDiary .sub{
        display: none;
    }

    .diarypage .sub-box{
        top: 60px;
        left: calc(50vw - 300px);
        width: auto;
    }
}

@media screen and (max-width: 430px){
    .diarypage .title{
        display: none;
    }

    .diarypage .listDiary .main{
        height: 358px;
    }

    .diarypage .add-diary {
        height: 50px;
        bottom: 22px;
        right: 10px;
    }

    .diarypage .add-diary-box {
        right: 10px;
        bottom: 70px;
    }

    .diarypage .sub-box{
        left: 10px;
        right: 10px;
    }
} 