.chat-box-main{
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding-bottom: 10px;
}

.chat-box-main .title{
    display: flex;
    min-height: 74px;
    align-items: center;
    padding: 0 28px;
    gap: 28px;
    position: relative;
}

.chat-box-main .title::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
    position: absolute;
    bottom: 0;
    left: 0;
}

.chat-box-main .title .ava{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.chat-box-main .title .ava img{
    height: 100%;
    width: auto;
}

.chat-box-main .title .name-box{
    flex-grow: 1;
}

.chat-box-main .title .status {
    display: flex;
    gap: 5px;
    align-items: center;
}

.chat-box-main .title .status span{
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.chat-box-main .title .name{
    font-weight: bold;
    font-size: 20px;
}

.chat-box-main .chat-line{
    flex-grow: 1;
    overflow: auto;
    padding: 0 28px;
}

.chat-box-main .chat-line li{
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 20px;
}

.chat-box-main .chat-line li.mine{
    justify-content: end;
}

.chat-box-main .chat-line li .ava{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}

.chat-box-main .chat-line li .ava img{
    height: 100%;
    width: auto;
}

.chat-box-main .chat-line li .text{
    display: flex;
    flex-flow: column;
}

.chat-box-main .chat-line li.mine .text{
    align-items: end;
}

.chat-box-main .chat-line li .time{
    color: #999;
    font-size: 10px;
    font-style: italic;
}

.chat-box-main .chat-line li .content{
    height: 42px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 42px;
}

.chat-box-main .chat-line li.mine .content{
    background-color: #16c0e8;
}

.chat-box-main .chat-line li.orther .content{
    background-color: #d9d9d9;
}


.chat-box-main .footer{
    display: flex;
    padding: 0 28px;
    align-items: center;
    gap: 10px;
}

.chat-box-main .footer input{
    flex-grow: 1;
    border-radius: 46px;
    height: 46px;
    background-color: #d9d9d9;
    padding: 0 20px;
}

.chat-box-main .footer input::placeholder{
    font-style: italic;
    color: #999;
}

.chat-box-main .footer .addImage-btn{
    cursor: pointer;
}

.chat-box-main .footer .addImage-btn:hover{
    background-color: #d9d9d9;
    border-radius: 8px;
}

.chat-box-main .footer .send-btn{
    cursor: pointer;
    transition: transform ease-in-out 0.25s;
}

.chat-box-main .footer .send-btn:hover{
    transform: rotate(360deg);
}