.timelinemain{
    height: 100%;
    display: flex;
    width: 100%;
    gap: 10px;
}

.timelinemain .timeline-box{
    background-color: rgba(255,255,255,0.9);
    flex-grow: 1;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    position: relative;
}

.timelinemain .timeline-box .grid li{
    height: 45px;
    display: flex;
    align-items: center;
}

.timelinemain .timeline-box .grid p{
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 3px;
    margin-right: 10px;
}

.timelinemain .timeline-box .grid li::after{
    content: "";
    height: 1px;
    border-top: rgba(201, 201, 201, 0.7) dashed 1px;
    width: 100%;
    display: block;
}

.timelinemain .timeline-box .value{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.timelinemain .timeline-box .value li{
    position: absolute;
    align-items: center;
    display: flex;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    gap: 5px;
    overflow: auto;
}

.timelinemain .timeline-box .value li::-webkit-scrollbar{
    height: 3px;
    width: 3px;
}

.timelinemain .timeline-box .value li .time{
    font-size: 12px;
    font-style: italic;
    min-width: 72px;
}

.timelinemain .timeline-box .value li figure{
    height: 20px;
    min-width: 20px;
}

.timelinemain .timeline-box .value li figure img{
    height: 100%;
    width: auto;
}

.timelinemain .add-dailyTask{
    width: 362px;
    height: fit-content;
    border: #d9d9d9 solid 1px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
}

.timelinemain .add-dailyTask .title{
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: start;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.timelinemain .add-dailyTask .title p{
    font-weight: bold;
}

.timelinemain .add-dailyTask .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.timelinemain .add-dailyTask .time .ant-picker{
    height: 26px;
}

.timelinemain .add-dailyTask .style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.timelinemain .add-dailyTask .style .ant-select{
    width: 100px;
}

.timelinemain .add-dailyTask .style .ant-select-selector{
    background-color: #5c5c5c;
}

.timelinemain .add-dailyTask .style .ant-select-arrow{
    color: white;
}

.timelinemain .add-dailyTask .style figure{
    display: flex;
    color: white;
    height: 20px;
    align-items: center;
}

.timelinemain .add-dailyTask .style figure img{
    height: 100%;
    width: auto;
}

.timelinemain .add-dailyTask fieldset{
    display: flex;
    justify-content: space-between;
}

.timelinemain .add-dailyTask fieldset input{
    background-color: #d9d9d9;
    padding: 2px 10px;
    border-radius: 5px;
    width: 232px;
}

.timelinemain .add-dailyTask fieldset input::placeholder{
    font-style: italic;
}

.timelinemain .add-dailyTask fieldset .add{
    display: flex;
    background-color: #16c0e8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    transition: background-color ease-in-out 0.25s;
    cursor: pointer;
}

.timelinemain .add-dailyTask fieldset .add:hover{
    background-color: #5ecce5;
}

.timelinemain .add-dailyTask fieldset .add p{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.timelinemain .add-dailyTask .add figure{
    height: 16px;
    transition: transform ease-in-out 0.25s;
}

.timelinemain .add-dailyTask .add figure img{
    height: 100%;
}

.timelinemain .add-dailyTask fieldset .add:hover figure{
    transform: rotate(360deg);
}

@media screen and (max-width: 1024px){
    .timelinemain{
        flex-flow: column;
    }

    .timelinemain .add-dailyTask{
        height: auto;
        width: 370px;
    }

    .timelinemain .timeline {
        width: 100%;
    }

    .timelinemain .timeline .grid {
        margin: 10px auto;
    }
}

@media screen and (max-width: 430px){
    .timelinemain .add-dailyTask{
        width: auto;
    }

    .timelinemain .add-dailyTask fieldset input{
        width: 224px;
    }

    .calendarmain .addTask{
        right: 5px;
        bottom: 5px;
    }
}